body {
    font-size: 16px;
    color: white;
    background: url("../images/bar-ceiling-chairs-1200.jpg") no-repeat;
    background-size: 1350px;
    background-attachment: fixed;
    /* background-color: #034f84; */
    font-family: 'Courier New', Courier, monospace;
}

#header-nav {
    padding: 7px;
    background-color: #f7cac9;
    border-radius: 0;
    border: 0;
}

#logo-img {
    margin: 5px;
    width: 85px;
    height: 85px;
    padding: 16px 13px 13px 15px;
    border: 2px;
    border-style: solid;
    border-radius: 70px;
    border-color: rgb(244, 247, 250);
    background-color: white;
    background-blend-mode: color-dodge;
    box-shadow: .5px 1px 1px 0 rgb(177, 218, 245), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

#logo-img img {
    width: 50px;
    height: 50px;
}

.navbar-brand h1 {
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Arbutus Slab', serif;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #cdeafe;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #337ab7;
    text-align: center;
}

#nav-list a:hover {
    color: whitesmoke;
}

#nav-list a span {
    font-size: 1.2em;
}

#phone {
    margin-top: 15px;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    text-align: right;
    padding-right: 5px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #034f84;
}

.navbar-header button.navbar-toggle {
    clear: both;
}


/* .container .jumbotron {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    box-shadow: 0 0 20px black;
    border: 1px solid #92a8d1; 
} */


/*FOOTER*/

.panel-footer {
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    color: white;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#hours,
#address {
    line-height: 2;
}

#hours>span,
#address>span {
    font: 1.2em;
}


/*Main page main content*/

#caption-one {
    width: 1200px;
    height: 600px;
}

#caption-one hr {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
}

#caption-one h1 {
    font-family: 'Arbutus Slab', serif;
    font-size: 7em;
    text-align: center;
    margin: 70px auto 70px;
}

#tiles {
    background-color: white;
    opacity: 0.9;
    height: 400px;
}

#menu-tile,
#specials-tile,
#map-tile {
    width: 100%;
    height: 200px;
    margin: 10px auto 0;
    position: relative;
    overflow: hidden;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
    box-shadow: 0 1px 5px 1px steelblue;
}

#menu-tile {
    background: url("../images/bar.svg") no-repeat;
    background-position: center;
    background-size: 140px;
}

#specials-tile {
    background: url("../images/serving-dish.svg") no-repeat;
    background-position: center;
    background-size: 140px;
}

#menu-tile span,
#specials-tile span,
#map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    font-size: 1.2em;
}


/*Menu categories content*/

#tile-layout-1 {
    background-color: white;
    opacity: .8;
    padding-top: 60px;
    padding-bottom: 30px;
}

.category-tile {
    position: relative;
    border: 2px solid #f7786b;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: black;
    color: white;
    opacity: .6;
}

.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}


/*Single category content*/

#menu-cat-tile {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 45px;
}

#tile-layout-2 {
    background-color: white;
    opacity: .8;
    padding: 50px 5px 5px 110px;
}

.item-tile {
    margin-bottom: 25px;
    padding-left: 15px;
    color: #333;
}

.item-tile hr {
    max-width: 85%;
}

.item-description {
    padding-right: 30px;
}

h3.item-title {
    margin: 0 0 10px;
}

.item-details {
    font-size: .9em;
}


/* Aligns the price next to the heading*/

.item-tile .item-price span {
    font-size: .7em;
    font-weight: bold;
}


/* Skipped picture */


/* Respinsivity */


/* Large device */

@media (min-width:1200px) {
    .container .jumbotron {
        background: url("../images/bar-ceiling-chairs-1200.jpg") no-repeat;
        height: 657px;
    }
}


/* Medium device */

@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        width: 70px;
        height: 70px;
        padding: 10px 13px 13px 9px;
    }
    .navbar-brand h1 {
        padding-top: 8px;
        padding-left: 5px;
        font-size: 1.25em;
    }
    .container .jumbotron {
        background: url("../images/bar-chairs-counter-992.jpg") no-repeat;
        height: 558px;
    }
}


/* Small device */

@media (min-width: 768px) and (max-width: 991px) {
    .container .jumbotron {
        background: url("../images/bar-chairs-counter-768.jpg") no-repeat;
        height: 432px;
    }
    #caption-one {
        width: 768px;
        height: 350px;
    }
    #caption-one h1 {
        font-size: 3.5em;
        text-align: center;
        margin: 70px auto 70px;
    }
    #tiles {
        background-color: white;
        opacity: 0.9;
        height: 400px;
    }
}


/* Xtra small device */

@media (max-width: 767px) {
    .navbar-brand {
        height: 80px;
    }
    .navbar-brand h1 {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 5vw;
    }
    #collapsable a span {
        margin-right: 5px;
    }
    .container .jumbotron {
        margin-top: 30px;
        padding: 0;
    }
    #menu-tile,
    #specials-tile {
        width: 360px;
        margin: 0 auto 15px;
    }
}

@media (max-width: 375px) {
    .navbar-brand h1 {
        padding-top: 5px;
        font-size: 6vw;
    }
    #menu-title,
    #specials-title {
        width: 280px;
        margin: 0 auto 10px;
    }
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 100%;
    }
}