body {
    font-size: 16px;
}

#hv {
    background-color: black;
}

.navbar-header {
    height: 120px;
}

.navbar-brand h1 {
    padding-left: 10px;
    font-family: 'Arbutus Slab', serif;
    text-shadow: 0 1px 1px #cdeafe;
    color: cadetblue;
}

.navbar-brand a:link,
.navbar-brand h1:focus {
    text-decoration: none;
}

.navbar-brand h1:hover {
    color: white;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #034f84;
}

.navbar-header button.navbar-toggle {
    clear: both;
}

#nav-list {
    margin: 5px;
    border: 1px solid black;
}

#nav-list a {
    font-size: 1.2em;
    background-color: #3e84b6;
    text-align: center;
    padding: 5px;
    color: black;
}

#nav-list a:hover {
    color: aliceblue;
}

#caption h1 {
    text-align: center;
}

#main {
    padding: 10px;
}

#main-content {
    height: 800px;
    background-color: dodgerblue;
    opacity: .7;
    padding: 25px;
    color: black;
}