body {
    font-size: 16px;
    color: white;
}

#hv {
    height: 100px;
    background-color: black;
}

.navbar-brand h1 {
    padding-left: 10px;
    font-family: 'Arbutus Slab', serif;
    text-shadow: 1px 1px 1px #cdeafe;
}

.navbar-brand a:link,
.navbar-brand h1:focus {
    text-decoration: none;
}

.navbar-brand h1:hover {
    color: white;
}

#nav-list a span {
    font-size: 1.2em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #034f84;
}

.navbar-header button.navbar-toggle {
    clear: both;
}